body {
    overflow: auto;
}
.calendar {
    height: 40vh;
    width: 100%;
    /* margin: 0 auto; */
}
.calendar-container {
    position: relative;
    margin-top: 2vh;

}

.reminder-body-start {
    position: static;
}
