/*Styling via tutorial from: https://letsbuildui.dev/articles/building-a-dropdown-menu-component-with-react-hooks */

.DropDownMenuContainer {
    position: relative;
  }
  
  .menu {
    background: white;
    height: 34vh;
    font-weight: bold;
    overflow: auto;
    border-radius: 10px;
    position: absolute;
    top: 10vh;
    left: 1vw;
    width: 93%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }
  .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    border-bottom: 0.1px solid #dddddd;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
    align-content: center;
  }
  
  .function-button-showNews {
    background: whitesmoke;
    color: white;
    border-radius: 90px;
    cursor: pointer;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    width: 6vw;
    border:2px solid #2F3E46;
    margin: 0 auto 5px;
    position: absolute;
    bottom: 0;
    left: 12vw;
  }

  .grow {
    transition: all 0.2s ease-in-out;
  }
  .grow:hover {
    transform: scale(1.1);
  }
  