

.story-container {
    margin: 5vh 3vh 3vh 0;
    padding: 10px;
    width: 70%;
    display: grid;
    grid-template-columns: 1.5fr  2.5fr;
    grid-template-rows: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: 0.3s;
}
.story-container:hover {
    box-shadow: 0 8px 16px 0 rgba(98,0,0,0.2);
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.story-image {
    border-radius: 5px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    text-decoration: underline;
}