.time-text {
    font-size: 12vh;
    position: absolute;
    left: 6vw;
    bottom: 15vh;
}

.function-button-reset {
    background: whitesmoke;
    color: white;
    border-radius: 90px;
    cursor: pointer;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    width: 6vw;
    border:2px solid #2F3E46;
    position: absolute;
    bottom: 5px;
    left: 12vw;
  }
