.weather-container {
    margin: 5vh 3vh 3vh 0;
    padding: 10px;
    width: 62%;
    display: grid;
    grid-template-columns: 1.5fr  2.5fr;
    grid-template-rows: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 0.3s;
}