
.weather-container {
    margin: 2vh auto;
    margin-bottom: 2vh;
    padding: 8px;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 0.3s;
    background: whitesmoke;
}

.weather-container-wc2 {
    margin: 0 auto;
    margin-bottom: 10vh;
    padding: 8px;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 0.3s;
    background: whitesmoke;
}
.container-header {
    float: left;
}
.grouping {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grouping-details {
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 1vh; */
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
}
.forecast-container {
    padding: 10px;
    width: 100%;
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.hour-container {
    padding: 10px;
    width: 80%;
    display: grid;
    grid-template-rows: .25fr 1fr ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 0.3s;
    height: 20vh;
    margin-top: 1vh;
}

.datum {
    margin-bottom: -10px;
    margin-top: -10px;
}

.forecast-toggle {
    width: 10vw !important;
    padding: 4px;
    color: black !important;
}
.forecast-toggle:hover {
    color: white !important;
}