.App {
  text-align: center;
  
}

.widgit {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
border-radius: 5px;
transition: 0.3s;
width: 30%;
float: left;
display: grid;
grid-template-rows: 1fr 1fr;
overflow: auto;
height: 50vh;
}